{% extends "template.html" %}
{% block content %}
<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<div class="text">
								<h5>Office Manager Login</h5>
							</div>
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@medicaloffice.com">support@medicaloffice.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="#"><img src="../static/img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="{{ url_for('index') }}">Home</i></a></li>
											<li><a href="#">Patients</a>
												<ul class="dropdown">
													<li><a href="{{ url_for('new_patient') }}">New Patient Registration</a></li>
													<li><a href="{{ url_for('login')}}">Patient Dashboard</a></li>
												</ul>
											</li>
											<li><a href="#">Office Staff</a>
												<ul class="dropdown">
													<li><a href="#">Doctors</a></li>
													<li><a href="#">Office Clerk</a></li>
													<li><a href="{{ url_for('login_manager') }}">Office Managers</a></li>
												</ul>
											</li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
	<section class="contact-us section">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6">
						<div class="contact-us-form">
							<h2>User Details</h2>
							<p>Please enter the information below.</p>
							<!-- Display Flash Messages -->
								{% with messages = get_flashed_messages() %}
								  {% if messages %}
									<ul>
									  {% for message in messages %}
										<li style="color: green;">{{ message }}</li>
									  {% endfor %}
									</ul>
								  {% endif %}
								{% endwith %}
							<form class="form" method="POST">
									{{ form.hidden_tag() }}
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												{{ form.username.label }} {{ form.username() }}
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												{{ form.password.label }} {{ form.password() }}
											</div>
										</div>
										<div class="col-12">
											<div class="form-group login-btn">
												{{ form.submit() }}
											</div>
										</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
