{% extends "template.html" %}
{% block content %}
<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<div class="text">
								<h5>Office Manager Dashboard</h5>
								<p>Logged in as: {{ name }}</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@medicaloffice.com">support@medicaloffice.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="#"><img src="../static/img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="{{ url_for('dashboard_managers') }}">Dashboard Home</a></li>
											<li><a href="#">Appointments</a>
												<ul class="dropdown">
													<li><a href="{{ url_for('search') }}">Add New Appointment</a></li>
													<li><a href="{{ url_for('searchAppointmentByManager') }}">Cancel & Reschedule Appointment</a></li>
													<li><a href="{{ url_for('appointments') }}">Appointments History</a></li>
													<li><a href="{{ url_for('filter_appointments') }}">Filter Appointments by Date Range</a></li>
												</ul>
											</li>
											<li><a href="#">Patients</a>
											<ul class="dropdown">
													<li><a href="{{ url_for('patients') }}">Patient List</a></li>
													<li><a href="{{ url_for('new_patient_manager') }}">Add New Patient</a></li>
													<li><a href="{{ url_for('searchPatient') }}">Update Patient Information</a></li>
												</ul>
											</li>
											<li><a href="#">Doctors</a>
												<ul class="dropdown">
													<li><a href="{{ url_for('doctors') }}">Doctors List</a></li>
													<li><a href="{{ url_for('add_doctor') }}">Add New Doctor</a></li>
													<li><a href="#">Update Doctor Information</a></li>
												</ul>
											</li>
											<li><a href="#">Office Clerks</a>
												<ul class="dropdown">
													<li><a href="{{ url_for('officeClerks') }}">Office Clerks List</a></li>
													<li><a href="{{ url_for('add_officeClerk') }}">Add New Office Clerk Member</a></li>
													<li><a href="#">Update Office Clerk Information</a></li>
												</ul>
											</li>
											<li><a href="#">Office Managers</a>
												<ul class="dropdown">
													<li><a href="{{ url_for('officeManagers')}}">Office Managers List</a></li>
													<li><a href="{{ url_for('add_officeManager')}}">Add New Office Managers</a></li>
													<li><a href="#">Update Office Manager Information</a></li>
												</ul>
											</li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="{{ url_for('logout') }}" class="btn">Log Out</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
	<section class="contact-us section">
		<div class="container">
			<div class="inner">
				<h5>Office Managers List</h5>
				<table>
					<thead>
						<tr>
							<th>#</th>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Gender</th>
							<th>DOB</th>
							<th>Phone</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						{% for manager in managers %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{manager.person.idNumber}}</td>
							<td>{{manager.person.firstName}}</td>
							<td>{{manager.person.lastName}}</td>
							<td>{{manager.person.gender}}</td>
							<td>{{manager.person.dateOfBirth}}</td>
							<td>{{manager.person.phone}}</td>
							<td>{{manager.person.email}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
