{% extends "template.html" %}
{% block content %}
<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<div class="text">
								<h5>Patient Dashboard</h5>
							</div>
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@medicaloffice.com">support@medicaloffice.com</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="#"><img src="../static/img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="{{ url_for('dashboard') }}">Dashboard Home</a></li>
											<li><a href="{{ url_for('new_appointment') }}">Schedule Appointment</a></li>
											<li><a href="{{ url_for('appointmentsByPatient') }}">Appointment History</a></li>
											<li><a href="{{ url_for('search_appointment') }}">Manage Appointment</a></li>
											<li><a href="{{ url_for('update_patient') }}">Modify Patient Information</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="{{ url_for('logout') }}" class="btn">Log Out</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
	<section class="contact-us section">
		<div class="container">
			<div class="inner">
				 <!-- Display Flash Messages -->
				{% with messages = get_flashed_messages() %}
				  {% if messages %}
					<ul>
					  {% for message in messages %}
						<li style="color: green;">{{ message }}</li>
					  {% endfor %}
					</ul>
				  {% endif %}
				{% endwith %}
				 <h3>Welcome, {{ userName }}!</h3>
				 <p>You are logged in.</p>
				<br>
				<br>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th>Gender</th>
							<th>DOB</th>
							<th>Phone</th>
							<th>Email</th>
							<th>Weight (lb)</th>
							<th>Height (cm)</th>
							<th>Blood Type</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{ idNumber }}</td>
							<td>{{ firstName }}</td>
							<td>{{ lastName }}</td>
							<td>{{ gender }}</td>
							<td>{{ dob }}</td>
							<td>{{ phone }}</td>
							<td>{{ email }}</td>
							<td>{{ weight }}</td>
							<td>{{ height }}</td>
							<td>{{ bloodType }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
